@font-face {
  font-family: "PTSans";
  font-weight: 400;
  font-style: normal;
  src: local("PTSans"),
       url("../Седона/fonts/PTSans.woff2") format("woff2"),
       url("../Седона/fonts/PTSans.woff") format("woff");
}
@font-face {
  font-family: "PTSans-Bold";
  font-weight: 700;
  font-style: normal;
  src: local("PTsans-Bold"),
       url("../Седона/fonts/PTSans-Bold.woff2") format("woff2"),
       url("../Седона/fonts/PTSans-Bold.woff") format("woff");
}

:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-light-blue: #81B3D2;
  --basic-blue: #669EC0;
  --basic-dark-blue: #5496BD;
  --basic-light-brown: #766357;
  --basic-brown: #604E43;
  --basic-dark-brown: #503E33;
  --basic-dark-grey: #333333;
  --basic-light-grey: #EEEEEE;
  --special-light-grey:#F2F2F2;
  --special-dark-grey: #A9A9A9;
}

body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--special-light-grey);
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;  /*убрать по классам*/
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Navigation menu */

.nav__list {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
}

.header__background {
  background-color: var(--special-dark-grey);
}

/* Список преимуществ */

.welcome {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.advantages__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-dark-grey);
}

.advantages__list {
}

.item__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.advantages-item__list {
  background-color: var(--special-light-grey);
}

.advantages-item__list h4 {
  color: var(--basic-black);
}

.advantages-item__list p {
  color: var(--basic-dark-grey);
}

.advantages__item_blue {
  background-color: var(--basic-light-blue);
  color: var(--basic-white);
}

/* Блок поиска отеля*/

.search-hotel {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

}

.search-hotel__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
}

/*Интерактивные элементы*/

.button_brown {
  font: inherit;
  background-color: var(--basic-light-brown);
  color: var(--basic-white);
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}

.search-hotel__button {
  font-size: 21px;
  line-height: 26px;
}

.button_brown:hover {
  background-color: var(--basic-brown);
}

.button_brown:focus {
  background-color: var(--basic-dark-brown);
  color: rgba(255, 250, 250, 0.3);
}

.button_blue {
  font: inherit;
  background-color: var(--basic-light-blue);
  color: var(--basic-white);
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}

.socials__button {
  
}

.button_blue:hover {
  background-color: var(--basic-blue);
}

.button_blue:focus {
  background-color: var(--basic-dark-blue);
  color: rgba(255, 250, 250, 0.3);
}


.link:hover {
  color: var(--basic-dark-blue);
}

.link:focus {
   opacity: 0.3;
}

.filter__button {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: transparent;
  border: 2px solid var(--basic-white);
  text-transform: uppercase;
}

.filter__button:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.sorting__button {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
  border: none;
  border-bottom: 1px dashed var(--basic-light-blue);
  background-color: transparent;
}

.sorting__button:hover  {
  color: var(--basic-light-blue);
  opacity: 1;
}

.sorting__button:active {
  opacity: 1;
  border: none;
}

.sorting__button:focus {
  border: none;
  color: var(--basic-light-blue);
  opacity: 1;
}

.link h3{
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.results-filter__link:hover {
  color: var(--basic-light-blue);
}

.results-filter__link:focus {
  opacity: 0.3;
}

/*Подвал*/

.footer__contacts {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}


.footer__copyright {
  line-height: 26px;
}

/*Модальное окно*/
.modal__searh-hotel {
  background-color: var(--basic-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
}

.search-hotel__input {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
}

.modal__button {
  line-height: 26px;
}

/*Каталог*/

/*Фильтр*/

.filter legend {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
}

 .filter__item, 
 .filter__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
}

/*Результат отбора*/

.catalog__sorting p {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.catalog__sorting h2 {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}



.results-filter__item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
